* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

nav {
    background-color: #F55A5A;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 25px;
}


.nav--logo {
    padding-right: 10px;
}

.nav--text {
    color: #fff;
    font-size: 14;
    font-family: 'Inter', sans-serif;
}

.card {
    margin-top: 30px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
}

.card--scenery {
    max-width: 100%;
}

.card--body {
    margin: 30px;
    max-width: 300px;
}

.card--info {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.card--path {
    margin-right: 5px;
    margin-bottom: 2px;
}

.card--country {
    margin-right: 20px;
    font-size: 12px;
    letter-spacing: 2px;
}

.card--google-map {
    color: #ccc;
    font-size: 12px;
}

.card--name {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.card--date {
    font-size: 12px;
}

.card--description {
    font-size: 12px;
}







